:root {
  --gradient: linear-gradient(52deg, #2f45eb 0%, #3a5fee 63%, rgb(77, 154, 255) 100%);
  --border-radius: 15px;
  --backer-opacity: 45%;
  --dotted-border: 2px dotted #fff;
  --blk40: rgba(0, 0, 0, 0.2);
  --height-minus-header: calc(100vh - 150px);
}

body {
  min-height: 100vh;
  background-image: url('../images/felt.jpg');
  background-repeat: repeat;
  color: #fff;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  overflow: hidden;
}

h1 {
  font-size: 1rem;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}